################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/BattleShipTest/obj
/Source/BattleShipApp/obj
/Source/BattleShipApp/bin/Debug/netcoreapp3.1
/Source/BattleShipTest/bin/Debug/netcoreapp3.1
